{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
    <meta name="author" content="Theme Industry">
    <!-- description -->
    <meta name="description" content="Light sound pro - крупнейшая компания предоставляющая комплекс технических решений для деловых, развлекательных и культурно-массовых мероприятий.">
    <!-- keywords -->
    <meta name="keywords" content="Light, sound, pro, Организация, мероприятий, г.Ульяновск">
    <!-- title -->
    <title>Light sound pro  </title>
    <!-- favicon -->
    <link rel="icon" href="{% static 'images/fav-icon.ico' %}">
    <link rel="shortcut icon" href="{% static 'images/shortlogo.png' %}" type="image/png">
    <!-- animation -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}"/>
    <!-- cube Portfolio -->
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}"/>
    <!-- revolution slider -->
    <link rel="stylesheet" href="{% static 'css/settings.css' %}"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}"/>
    <!-- bundle css -->
    <link rel="stylesheet" href="{% static 'css/core.css' %}"/>
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!-- Custom Style -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90" class="side-nav">

<div id="loader">
    <div class="loader-inner">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>

<!-- start header -->
<header>
    <!-- start navigation -->
    <nav class="nav-white-text navbar navbar-default bootsnav navbar-fixed-top nav-white header-light bg-transparent nav_line">
        <div class="container nav-header-container">
            <div class="row">
                <div class="col-md-2 col-xs-5">
                    <a href="#home" title="Logo" class="logo scroll"><img src="{% static 'images/logo.svg' %}"
                                                                          class="logo-dark" alt="boltex"><img
                            src="{% static 'images/logo-white.svg' %}" alt="boltex" class="logo-light default"></a>
                </div>
                <!-- end logo -->
                <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right hidden-sm hidden-xs">
                    <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                        <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal"
                            data-in="fadeIn" data-out="fadeOut">
                            <!-- start menu item -->
                            <li class="active">
                                <a href="#home" class="scroll">Главная</a>
                            </li>
                            <li>
                                <a href="#feature" class="scroll">Преимущества</a>
                            </li>
                            <li>
                                <a href="#about" class="scroll">О нас</a>
                            </li>
                            <li>
                                <a href="#team" class="scroll">Наша команда</a>
                            </li>
                            <li>
                                <a href="#work" class="scroll">Портфолио</a>
                            </li>
                            <li>
                                <a href="#contact" class="scroll">Связь с нами</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-xs-5 width-auto sm-width-15 xs-width-20 no-padding">
                    <div class="header-social-icon sm-display-none" aria-hidden="true">
                        <a href="https://vk.com/lightsoundpro" target="_blank" class="facebook-bg-hvr"><i class="fab fa-vk"></i></a>
                        <a href="https://www.instagram.com/light_sound_pro/" target="_blank" class="twitter-bg-hvr"><i class="fab fa-instagram"></i></a>
                        <a href="#contact" class="linkedin-bg-hvr"><i class="fas fa-phone-square"></i></a>
                    </div>
                </div>
                <!--side nav -->
                <div id="menu_bars" class="right menu_bars">
                    <span class="t1"></span>
                    <span class="t2"></span>
                    <span class="t3"></span>
                </div>
                <div class="sidebar_menu">
                    <nav class="pushmenu pushmenu-right">
                        <a class="push-logo" href="#."><img src="{% static 'images/logo-black.svg' %}" alt="logo"></a>
                        <div class="medium-icon side-nav-social-icon list-inline">
                        <a href="https://vk.com/lightsoundpro" target="_blank" class="facebook-bg-hvr"><i class="fab fa-vk"></i></a>
                        <a href="https://www.instagram.com/light_sound_pro/" target="_blank" class="twitter-bg-hvr"><i class="fab fa-instagram"></i></a>
                        </div>
                        <ul class="push_nav centered">
                            <li class="clearfix">
                                <a href="#home" class="scroll"><span>01.</span>Главная</a>

                            </li>
                            <li class="clearfix">
                                <a href="#feature" class="scroll"> <span>02.</span>Преимущества</a>

                            </li>
                            <li class="clearfix">
                                <a href="#about" class="scroll"> <span>03.</span>О нас</a>

                            </li>
                            <li class="clearfix">
                                <a href="#work" class="scroll"> <span>04.</span>Портфолио</a>

                            </li>
                            <li class="clearfix">
                                <a href="#contact" class="scroll"> <span>06.</span>Связь с нами</a>

                            </li>
                        </ul>

                        <p class="push-bottom text-white text-small">Developer by <a href="https://github.com/SbXDeV" style="color: royalblue">@SBXDEV</a> 2022 Made by Light sound pro</p>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- end header -->

<!-- start slider -->
<section id="home" class="no-padding no-transition">
    <h1 class="display-none" aria-hidden="true">sbxdev</h1>
    <h2 class="display-none" aria-hidden="true">sbxdev</h2>
    <div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="boltex-4"
         data-source="gallery" style="background:transparent;padding:0px;left: 0 !important;;">
        <!-- START REVOLUTION SLIDER 5.4.5 fullscreen mode -->
        <div id="rev_slider_5_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.5">
            <ul>    <!-- SLIDE  -->
                <li data-index="rs-11" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                    data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                    data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                    data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/17ba0-maintenance-bg.jpg' %}" alt="image" data-bgposition="center center"
                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg"
                         data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-7"
                         id="slide-11-layer-1"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-3','0']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 5;"><img src="{% static 'images/1513f-transparent-square.png' %}" alt="image"
                                                  data-ww="['688px','688px','500px','374px']"
                                                  data-hh="['612px','612px','445px','333px']" data-no-retina></div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-11-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['120','100','70','70']"
                         data-lineheight="['120','100','70','70']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 6; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">
                        <div id="js-rotating" style="font-size: 50px">Свадеб,Тимбилдингов,Фестов,Презентаций, Корпоративных мероприятий, Конференций</div>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-11-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-115','-109','-82','-71']"
                         data-fontsize="['25','25','20','20']"
                         data-lineheight="['35','35','30','25']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 7; white-space: nowrap; font-size: 35px; line-height: 35px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">
                        <a style="margin-left: 20px">Мы профессионалы своего дела вот уже 11 лет.</a><br>
                        Качественно занимаемся техническим обеспечением:

                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         id="slide-11-layer-4"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['130','117','76','74']"
                         data-fontsize="['20','20','20','18']"
                         data-lineheight="['22','22','22','18']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Raleway;">
                        <a href="#contact" class="btn btn-rounded btn-blue btn-hvr-white btn-large">Связаться с нами</a></div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div><!-- END REVOLUTION SLIDER -->

</section>
<!-- slider end -->

<!-- start feature -->
<section id="feature" class="how-it-work text-center bg-light-gray no-transition">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center center-col last-paragraph-no-margin">
                <div class="sec-title margin-100px-bottom">
                    <div class="text-large text-red margin-10px-bottom font-weight-400 text-blue">Почему именно мы?</div>
                    <h3 class=" alt-font text-extra-dark-gray font-weight-300">
                        Наши преимущества</h3>
                    <p class="width-75 margin-lr-auto md-width-90 xs-width-100 xs-margin-30px-bottom">Light sound pro – ведет свою деятельность с 2010 года. Постоянно обновляющийся парк оборудования и команда специалистов позволяют реализовывать самые нестандартные идеи и выполнять сложные технические райдеры. Концерты и вечеринки, городские события и частные мероприятия, презентации и выставки —Light sound pro  полностью закрывает техническое обеспечение и сопровождение вашего события.</p>
                </div>
            </div>
        </div>

        <div class="how-one-container">
            <!--how it work Box-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="how-box-one inner-box xs-margin-100px-bottom">
                    <div class="icon-box bg-blue">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <div class="text-large text-extra-dark-gray margin-20px-bottom">Опыт</div>
                    <p>11 лет в индустрии
                    </p>
                </div>
            </div>

            <!--how it work Box-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="how-box-one inner-box sm-margin-100px-bottom xs-margin-100px-bottom">
                    <div class="icon-box bg-blue">
                        <i class="fas fa-laugh-beam"></i>
                    </div>
                    <div class="text-large text-extra-dark-gray margin-20px-bottom">Мероприятия</div>
                    <p>2500 организованных проектов под ключ
                    </p>
                </div>
            </div>

            <!--how it work Box-->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="how-box-one inner-box">
                    <div class="icon-box bg-blue">
                        <i class="fas fa-check-double"></i>
                    </div>
                    <div class="text-large text-extra-dark-gray margin-20px-bottom">Гарантия качества</div>
                    <p>Репутация подтверждена многочисленными рекомендациями, отзывами.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--end feature -->

<!-- start about -->
<section id="about" class="no-padding">

    <div class="half-section">
        <div class="container-fluid">
            <div class="row">
                {% for serv in Deca1 %}
                <div class="col-md-6 no-padding">
                    <div class="about-image hover-effect">
                        <img alt="" src="{{ serv.image.url }}" class="equalheight">
                    </div>
                </div>
                <div class="col-md-6 sm-padding-50px-tb">
                    <div class="split-box text-center center-block equalheight">
                        <div class="about-box">
                            <div class="text-large text-red margin-10px-bottom font-weight-400 text-blue">{{ serv.subtitle }}</div>
                            <h3 class="text-capitalize alt-font text-extra-dark-gray font-weight-300">
                                {{ serv.title }}</h3>
                            <p>{{ serv.desk }}</p>
                            <!--<a href="#." class="btn btn-transparent-blue btn-rounded btn-large margin-20px-top">Learn More</a>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="half-section">
        <div class="container-fluid">
            <div class="row">
                {% for serv in Deca2 %}
                <div class="col-md-6 no-padding pull-right sm-float-none">
                    <div class="about-image hover-effect">
                        <img alt="" src="{{ serv.image.url }}" class="equalheight">
                    </div>
                </div>
                <div class="col-md-6 sm-padding-50px-tb">
                    <div class="split-box text-center center-block equalheight">
                        <div class="about-box">
                            <div class="text-large text-red margin-10px-bottom font-weight-400 text-blue">{{ serv.subtitle }}</div>
                            <h3 class="text-capitalize alt-font text-extra-dark-gray font-weight-300">
                                {{ serv.title }}</h3>
                            <p>{{ serv.desk }}</p>
                            <!---
                            <a href="#." class="btn btn-transparent-blue btn-rounded btn-large margin-20px-top">Learn More</a>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- about end -->

<!-- team -->
<section id="team" class="text-center bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center center-col last-paragraph-no-margin">
                <div class="sec-title margin-100px-bottom">
                    <div class="text-large text-red margin-10px-bottom font-weight-400 text-blue">Герои не носят маски</div>
                    <h3 class="text-capitalize alt-font text-extra-dark-gray font-weight-300">
                        Руководители компании</h3>
                    <!--
                    <p class="width-75 margin-lr-auto md-width-90 xs-width-100 xs-margin-30px-bottom">
                        Команда агентства <a style="color: #66afe9">LIGHT SOUND PRO</a> состоит из признанных лидеров индустрии развлечений,
                        увлеченных созданием незабываемых и вдохновляющих событий. Среди них: режиссёры, тех.специалисты, сценаристы, ведущие,
                        звуко/светорежиссёры, артисты и др. Благодаря креативным и талантливым сотрудникам,
                        в том числе квалифицированным event-менеджерам,
                        наше event-агентство может реализовать любой проект под ключ — от разработки концепции до проведения мероприятия.
                    </p>
                    -->
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0 auto;">
            {% for serv in profile %}
            <div class="col-md-4 col-sm-6 col-xs-12 sm-margin-30px-bottom">
                <div class="team-box sm-margin-30px-bottom xs-margin-30px-bottom">
                    <div class="team-image">
                        <img src="{{ serv.image.url }}" alt="image">
                    </div>
                    <div class="team-three-tag">
                        <div class="team-three-text display-inline float-left text-left">
                            <h6 class="text-extra-dark-gray no-margin-bottom">{{ serv.last_name }} <span class="text-blue" style="font-size: 20px">{{ serv.first_name }}</span></h6>
                            <p class="no-margin-bottom">{{ serv.job }}</p>
                        </div>
                        <div class="team-three-social bg-blue" aria-hidden="true">
                            <a href="{{ serv.social_vk }}" target="_blank" class="facebook-bg-hvr"><i class="fab fa-vk"></i></a>
                            <a href="{{ serv.social_inst }}" target="_blank" class="twitter-bg-hvr"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- team end -->

<!-- start parallax -->
<section class="parallax no-transition bg-img1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left sm-text-center center-col">
                <p class="text-large text-white margin-10px-bottom font-weight-400 margin-10px-bottom">Может узнаем друг друга поближе?</p>
                <h3 class="text-capitalize alt-font text-white margin-30px-bottom font-weight-300 sm-width-100 xs-width-100">
                    Посмотреть нашу историю</h3>
                <a data-fancybox="" href="https://vimeo.com/672805857" class="btn btn-rounded btn-blue btn-hvr-white btn-large"><i class="fa fa-play"></i>  Начать знакомство</a>
            </div>
        </div>
    </div>
</section>
<!-- end parallax -->

<!-- start work -->
<section id="work" class="portfolio no-transition no-padding-bottom">

    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center center-col last-paragraph-no-margin">
                <div class="sec-title margin-50px-bottom">
                    <div class="text-large text-red margin-10px-bottom font-weight-400 text-blue">Портфолио счастливых людей</div>
                    <h3 class="text-capitalize alt-font text-extra-dark-gray font-weight-300">
                        Наши работы</h3>
                    <p class="width-75 margin-lr-auto md-width-90 xs-width-100 xs-margin-30px-bottom">
                        Мы помогли 2500 событиям увидеть своих гостей, ни один гость не был оставлен без внимания, потому что мы ищем индивидуальный подход к каждому гостю!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- filter links -->
        <div class="filtering col-sm-12 text-center margin-50px-bottom">
            <span data-filter="*" class="active">Все</span>
            <span data-filter=".Weddings">Свадьбы</span>
            <span data-filter=".Corporate">Корпоративы</span>
            <span data-filter=".Team">Тимбилдинги</span>
            <span data-filter=".presentations">Презентации</span>
            <span data-filter=".conference">Конференции</span>
            <span data-filter=".child">Детские мероприятия</span>
            <span data-filter=".concert">Концерты</span>
        </div>

        <div class="clearfix"></div>
        <!-- gallery -->
        <div class="gallery text-center">
            <!-- gallery item -->
            {% for serv in event %}
                <div class="col-md-6 items {{ serv.subclass }} sm-width-100">
                    <div class="item-img">
                        <a href="{{ serv.image.url }}" data-fancybox="images">
                            <img src="{{ serv.image.url }}" alt="image">
                            <div class="item-img-overlay valign">
                                <div class="overlay-info width-100">
                                    <h6 class="margin-5px-bottom">{{ serv.title }}</h6>
                                    <p>{{ serv.description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="clear-fix"></div>


    </div>
</section>
<!-- end work -->

<!-- start price
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center center-col last-paragraph-no-margin">
                <div class="sec-title margin-100px-bottom">
                    <div class="text-large text-red margin-10px-bottom font-weight-400 text-blue">Choose The Best</div>
                    <h3 class="text-capitalize alt-font text-extra-dark-gray font-weight-300">
                        Our Packages</h3>
                    <p class="width-75 margin-lr-auto md-width-90 xs-width-100 xs-margin-30px-bottom">Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum. Perspiciatis unde omnis iste natus error sit.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 sm-margin-30px-bottom">
                <div class="price-item text-left">
                    <h6 class="alt-font font-weight-500 margin-10px-bottom">Basic</h6>
                    <div class="price-tag clearfix alt-font">
                                <span class="price alt-font text-dark-gray">
                                    <span class="sign">$</span>
                                    <span class="currency">49</span>
                                    <span class="month">/MON</span>
                                </span>
                        <span class="price-text text-dark-gray no-margin">It has survived not only five centuries, but also the leap into electronic.</span>
                    </div>
                    <ul class="packages">
                        <li><i class="fa fa-check" aria-hidden="true"></i>Full access</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Bandwidth</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Powerful Admin Panel</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Email Accounts</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>8 Free Forks Every Months</li>
                    </ul>
                    <a href="#." class="btn btn-blue btn-rounded width-100 btn-large">Buy Now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 sm-margin-30px-bottom">
                <div class="price-item center text-left">
                    <h6 class="alt-font font-weight-500 margin-10px-bottom">Standard</h6>
                    <div class="price-tag clearfix alt-font">
                                <span class="price alt-font text-white">
                                    <span class="sign">$</span>
                                    <span class="currency">79</span>
                                    <span class="month">/MON</span>
                                </span>
                        <span class="price-text text-white no-margin">It has survived not only five centuries, but also the leap into electronic.</span>
                    </div>
                    <ul class="packages">
                        <li><i class="fa fa-check" aria-hidden="true"></i>Full access</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Bandwidth</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Powerful Admin Panel</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Email Accounts</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>8 Free Forks Every Months</li>
                    </ul>
                    <a href="#." class="btn btn-white btn-rounded width-100 btn-large">Buy Now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="price-item text-left">
                    <h6 class="alt-font font-weight-500 margin-10px-bottom">Premium</h6>
                    <div class="price-tag clearfix alt-font">
                                <span class="price alt-font text-dark-gray">
                                    <span class="sign">$</span>
                                    <span class="currency">99</span>
                                    <span class="month">/MON</span>
                                </span>
                        <span class="price-text text-dark-gray no-margin">It has survived not only five centuries, but also the leap into electronic.</span>
                    </div>
                    <ul class="packages">
                        <li><i class="fa fa-check" aria-hidden="true"></i>Full access</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Bandwidth</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Powerful Admin Panel</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Email Accounts</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>8 Free Forks Every Months</li>
                    </ul>
                    <a href="#." class="btn btn-blue btn-rounded width-100 btn-large">Buy Now</a>
                </div>
            </div>
        </div>

    </div>
</section>
 start price -->

<!-- clients -->
<section class="no-transition bg-light-">
    <h2 class="display-none" aria-hidden="true">boltex</h2>
    <div class="container">
        <div class="row">
            <div class="owl-carousel owl-theme owl-client">
                {% for serv in Trust %}
                <div class="client item">
                    <img src="{{ serv.image.url }}" alt="image">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- clients end -->

<!-- testimonials -->
<section class="testimonial-two no-padding-top bg-very-light-gray">
    <div class="parallax testimonial-two-bg no-transition">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-8 equalheight">
                    <div class="testimonial-two-title">
                        <h3 class="area-title text-capitalize alt-font text-white font-weight-300">
                            Отзывы<br><span class="font-weight-400">Счастливых клиентов</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="owl-theme owl-carousel owl-testimonial-two">
            {% for serv in meeting %}
                <div class="testimonial-two-block item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div  class="testimonial-client-img">
                                <img src="{{ serv.photo.url }}" alt="image">
                            </div>
                            <div class="testimonial-client-name">
                                <h6 class="text-large text-blue font-weight-600 margin-5px-bottom margin-30px-top text-center">{{ serv.username }}</h6>
                                <p class="text-center">{{ serv.company }}, {{ serv.city }}</p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="testimonial-client-says text-left margin-135px-top xs-margin-30px-top xs-text-center">
                                <p>{{ serv.description }}
                                </p>
                                <div class="testimonial-two-rating margin-20px-top">
                                    {% if serv.star == 1 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if serv.star == 2 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if serv.star == 3 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if serv.star == 4 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if serv.star == 5 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</section>
<!-- testimonials end -->

<!-- map -->
<section class="no-padding">
    <h2 class="display-none no-padding no-margin" aria-hidden="true">Finza</h2>
    <div class="row">
        <div class="map-horizontal">
        </div>
    </div>
</section>
<!-- map end -->

<!-- contact-->
<section id="contact" class="btn-version">
    <div class="get-quote-section xs-text-center">
        <div class="container">
            <div class="row clearfix">
                <!--Form Column-->
                <div class="col-md-6">
                    <div class="sec-title margin-50px-bottom">
                        <h3 class="text-capitalize alt-font text-extra-dark-gray font-weight-300">
                            Давайте познакомимся!
                        </h3>
                        <p>
                            <a style="color: #f93d0f">LIHGT SOUND PRO</a> -  компания предоставляющая комплекс технических решений для деловых, развлекательных и культурно-массовых мероприятий.


                        </p>
                    </div>
                    <div class="row margin-15px-bottom">
                        <div class="col-sm-1 no-padding">
                            <div class="contact-icon text-blue">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <p class="text-small">Г.Ульяновск, Улица Московское шоссе,<br> Офис 80, 432008</p>
                        </div>
                    </div>
                    <div class="row margin-15px-bottom">
                        <div class="col-sm-1 no-padding">
                            <div class="contact-icon text-blue">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <p class="text-small"><a href="tel:+7 904 198 84 10">+7 904 198 84 10</a><br><a href="tel:+7 951 090 10 66">+7 951 090 10 66</a></p>
                        </div>
                    </div>
                    <div class="row margin-15px-bottom">
                        <div class="col-sm-1 no-padding">
                            <div class="contact-icon text-blue">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-11 xs-margin-50px-bottom">
                            <p class="text-small">lightsoundpro73@gmail.com<br>www.domane.com</p>
                        </div>
                    </div>
                </div>
                <div class="form-column col-md-6">
                    <div class="contact-form">
                        <!--Title-->
                        <form class="form_class" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form_inputs" name="name" placeholder="Ф.И.О">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form_inputs" name="email" placeholder="Почта">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="tel" class="form_inputs" name="phone" placeholder="Номер телефона">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 no-padding">
                                <div class="form-group">
                                <textarea name="message" id="message" class="form_inputs form_inputs_two" rows="6"
                                          cols="25" placeholder="Опишите ваше мероприятие"></textarea>
                                </div>
                                <div class="button">
                                    <button type="submit" class="btn btn-blue btn-rounded btn-large text-extra-small width-100">Познакомиться</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact end -->

<!--footer Start-->
<footer class="bg-extra-dark-gray padding-30px-tb text-center">
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="medium-icon social-icon-style-3 social_icon list-inline margin-20px-top">
                    <a class="facebook text-white facebook-bg-hvr wow fadeInUp" data-wow-duration=".5s" href="https://vk.com/lightsoundpro"><span><i class="fab fa-vk"></i></span></a>
                    <a class="twitter text-white twitter-bg-hvr wow fadeInDown" data-wow-duration=".5s" href="https://www.instagram.com/light_sound_pro/"><span><i class="fab fa-instagram"></i></span></a>

                    <!--<a class="pinterest text-white pinterest-bg-hvr wow fadeInUp" data-wow-duration=".5s" href="#."><i class="fa fa-pinterest-p"
                                                                                                                       aria-hidden="true"></i><span></span></a>
                    <a class="google text-white google-bg-hvr wow fadeInDown" data-wow-duration=".5s" href="#."><i class="fa fa-snapchat-ghost"
                                                                                                                   aria-hidden="true"></i><span></span></a>-->
                </div>
            </div>
            <p class="text-white text-large margin-10px-bottom margin-20px-top">© Light Sound Pro</p>
            <p class="text-light-gray margin-10px-bottom">2022 - Все права защищены </p>
        </div>
    </div>

</footer>
<!-- end footer -->
<!-- javascript libraries -->
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.appear.min.js' %}"></script>
<script src="https://kit.fontawesome.com/6542d234be.js" crossorigin="anonymous"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- fancybox -->
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<!-- wow -->
<script src="{% static 'js/wow.js' %}"></script>
<!-- parallax -->
<script src="{% static 'js/parallaxie.min.js' %}"></script>
<!-- equal hieght -->
<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
<!-- text-rotate -->
<script src="{% static 'js/morphext.min.js' %}"></script>
<!-- text-rotate -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- revolution -->
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- revolution extension -->
<script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<!-- Google Map Api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgC6ZapXdUzFdeQOFhdm_wucwlDMMQ8CQ"></script>
<script src="{% static 'js/map.js' %}"></script>
<!-- setting -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>